@use 'common.scss';

.App {
    @include common.fullscreen();

    background-color: common.$light-background;
    color: common.$light-text-color;

    /* Fixed Content */
    .Top {
        $button-gap: 6px;

        position: fixed;
        top: $button-gap;

        z-index: 999;

        .Button {
            border: none;

            font-size: 19px;
            @media screen and (max-width: common.$small-screen-width) {
                font-size: 16px;
            }

            background-color: common.$light-background;
            color: common.$light-text-color;

            &:not(:disabled) {
                cursor: pointer;

                &:not(:hover) {
                    opacity: 80%;
                }
            }

            &:disabled {
                opacity: 20%;
            }

            margin-right: $button-gap;
        }

        &.Left {
            left: $button-gap;
        }

        &.Right {
            right: $button-gap;
        }
    }
}

.App.DarkMode {
    background-color: common.$dark-background;

    /* Global buttons */
    .Top {
        .Button {
            background-color: common.$dark-background;
            color: common.$dark-text-color;
        }
    }
}