.App {
  text-align: center;
}

#input-boxes {
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

