@import 'common.scss';

.App {
    @include fullscreen();

    background-color: $light-background;

    button {
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        background-color: $light-background;
        color: $light-text-color;
        z-index: 999;
    }

    .ToggleDarkMode {
        position: fixed;
        top: 0.4rem;
        right: 0.4rem;
    }
}

.App.DarkMode {
    background-color: $dark-background;

    button {
        background-color: $dark-background;
        color: $dark-text-color;
    }
}