@import 'common.scss';

.App {
    @include fullscreen();

    background-color: $light-background;

    /* Global buttons */
    button {
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        background-color: $light-background;
        color: $light-text-color;
        z-index: 999;

        &:not(:hover) {
            opacity: 80%;
        }
    }

    $button-gap: 0.4rem;
    
    .ReturnToMenu {
        position: fixed;
        top: $button-gap;
        left: $button-gap;
    }

    .ToggleDarkMode {
        position: fixed;
        top: $button-gap;
        right: $button-gap;
    }
}

.App.DarkMode {
    background-color: $dark-background;

    /* Global buttons */

    button {
        background-color: $dark-background;
        color: $dark-text-color;
    }
}