@font-face {
  font-family: 'CMU Typewriter Text';
  src: local('CMU Typewriter Text'), url(./fonts/cmuntt.ttf) format('truetype');
}

@font-face {
  font-family: 'CMU Typewriter Text (Bold)';
  src: local('CMU Typewriter Text (Bold)'), url(./fonts/cmuntb.ttf) format('truetype');
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  /*position: absolute;*/
  height: 100%;
  width: 100%;

  font-family: 'CMU Typewriter Text (Bold)','Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, .fullscreen {
  height: 100%;
  width: 100%;
}
