.InputBox {
    flex: 0 0 0;
    font-size: 2rem;
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    background-color:lightgray;
    text-transform: capitalize;
}
