.Word {
    display: flex;
    margin: 1rem;
}

.Word .Letter {
    font-size: 1rem;
    min-width: 1rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
    text-transform: capitalize;

    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
}

@keyframes WordReveal {
    from {
        background-color: yellowgreen;
    }
    to {
        background-color: white;
    }
}

.Word.Guessed .Letter {
    background-color: yellowgreen;
    animation-name: WordReveal;
    animation-duration: 0.1s;
}
