@import '../common.scss';
@import './word.scss';

.Announcement {
    $height-hidden: 0;
    $height-full_large: 130px;

    position: absolute;

    white-space: nowrap;
    overflow: hidden;

    width: 100%;
    height: $height-hidden;

    left: 0;
    top: calc(round(nearest, 35vh - ($height-full_large / 2), 44px) + 5px);

    z-index: 999;

    background-color: $light-background;

    .Content {
        position: relative;

        @keyframes AnnouncementTextReveal {
            0%   { left: -100% }
            20%  { left: 0% }
            80%  { left: 0% }
            100% { left: 100%; }
        }

        left: -100%;
        color: $light-text-color;
        font-size: $height-full_large - 20px;
        text-align: center;
        text-transform: uppercase;

        animation-name: AnnouncementTextReveal;
        animation-duration: 1.5s;
        animation-delay: 0.25s;
    }

    @keyframes AnnouncementReveal {
        0%   { height: $height-hidden; }
        10%  { height: $height-full_large; }
        90%  { height: $height-full_large; }
        100% { height: $height-hidden; }
    }

    animation-name: AnnouncementReveal;
    animation-duration: 2s;
}

.DarkMode .Announcement {
    background-color: $dark-background;

    .Content {
        color: $dark-text-color;
    }
}