@import '../common.scss';

.Announcement {
    position: absolute;

    white-space: nowrap;
    overflow: hidden;

    left: 5px;
    top: 150px;
    width: calc(100% - 10px);

    $height-hidden: 0;
    $height-full: 112px;

    height: $height-hidden;

    background-color: $light-background;

    text-align: center;
    .Content {
        position: relative;
        @keyframes AnnouncementTextReveal {
            0%   { left: -100% }
            20%  { left: 0% }
            80%  { left: 0% }
            100% { left: 100%; }
        }

        left: -100%;
        color: $light-text-color;
        font-size: 80px;
        text-align: center;
        text-transform: uppercase;

        animation-name: AnnouncementTextReveal;
        animation-duration: 1.5s;
        animation-delay: 0.25s;
    }

    @keyframes AnnouncementReveal {
        0%   { height: $height-hidden; }
        10%  { height: $height-full; }
        90%  { height: $height-full; }
        100% { height: $height-hidden; }
    }

    animation-name: AnnouncementReveal;
    animation-duration: 2s;
}

.DarkMode .Announcement {
    background-color: $dark-background;
    .Content {
        color: $dark-text-color;
    }
}
