@import '../common.scss';

.EndScreen {
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 3rem;

    color: $light-text-color;

    .Score {
        font-size: 3rem;
        font-weight: 600;

        margin-top: 0.2rem;
        margin-bottom: 0.05rem;
    }

    .Continue {
        b {
            margin-left: 0.3rem;
            margin-left: 0.3rem;
        }
        &.hide {
            color: $light-background;
        }
    }
}

.DarkMode .EndScreen {
    color: $dark-text-color;

    .Continue.hide {
        color: $dark-background;
    }
}