@import '../common.scss';

.Game {
    @include fullscreen();

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .Anagrams {
        height: fit-content; /* <-- TODO */
        width: 100%;
        flex: 1;

        .Anagrams-columns {
            height: 100%;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0;
            justify-content: center;

            .Anagrams-column {
                height: 100%;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 0;
                align-content: flex-start;
            }
        }
    }

    .Row {
        flex: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
