@import '../common.scss';

.Game {
    @include fullscreen();

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .Anagrams {
        width: 100%;
        overflow: auto;
        flex: 1;

        display: grid;
        gap: 0 0;
        grid-auto-columns: min-content;
        grid-auto-rows: min-content;
        justify-content: center;

        /* Scroll Bar (Firefox) */
        scrollbar-color: $light-text-color $light-input;
        scrollbar-width: thin;

        /* Scroll Bar (Others) */
        &::-webkit-scrollbar {
            width: 0.2rem;
        }
        &::-webkit-scrollbar-track {
            background: $light-input;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $light-input;
            border-radius: 0.1rem;
            border: solid $light-text-color;
        }
    }

    .Row {
        flex: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    button.EndRound {
        border: solid;
        border-width: 0.2rem;
        border-radius: 10%;

        font-size: 1.5rem;
        padding: 0.2rem 0.5rem 0.3rem 0.5rem;

        position: fixed;
        right: 5.2rem;
        bottom: 5.2rem;

        @keyframes EndRoundReveal {
            /* flash animation when guessed */
            0%   { opacity: 0%; }
            75%  { opacity: 100%; }
            100%  { opacity: 80%; }
        }

        animation-name: EndRoundReveal;
        animation-duration: 0.2s;
    }
}

.DarkMode .Game {
    .Anagrams {
        /* Scroll Bar (Firefox) */
        scrollbar-color: $dark-text-color $dark-input;

        /* Scroll Bar (Others) */
        &::-webkit-scrollbar-track {
            background: $dark-input;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $dark-input;
            border: solid $dark-text-color;
        }
    }
}