@import '../common.scss';

$input-font-size: 2rem;
$input-gap: 1rem;

$input-medium-factor: 0.65;
$input-small-factor: 0.4;

.Input {
    flex: 0;

    color: $light-text-color;

    /* Overwrite values in 'borderedCharBox' for vertical gap */
    margin-bottom: $input-gap;
    margin-top: $input-gap;
    @media screen and (max-width: $medium-screen-width) {
        margin-bottom: $input-medium-factor*$input-gap;
        margin-top: $input-medium-factor*$input-gap;
    }

    @include borderedCharBox($input-font-size, $input-gap);
    @media screen and (max-width: $medium-screen-width) {
        @include borderedCharBox($input-medium-factor*$input-font-size,
                                 $input-medium-factor*$input-gap);
    }
    @media screen and (max-width: $small-screen-width) {
        @include borderedCharBox($input-small-factor*$input-font-size,
                                 $input-small-factor*$input-gap);
    }

    /* Overwrite values in 'borderedCharBox' for blink on successful guess. */
    border-width: 0.2rem;
    border-color: $light-background;

    /* Input Specific Styling */
    &.Letter {
        background-color: $light-input;
    }
    &.Button {
        background-color: $light-background;
    }

    /* Mouse Interaction */
    &:not(.Disabled) {
        cursor: pointer;
    }
    &:not(:hover) {
        opacity: 80%;
    }
}

.HasGood .Input.Letter {
    @keyframes InputSuccessLight {
        /* flash animation when guessed */
        0%   { border-color: $light-background; }
        50%  { border-color: $light-good; }
        100% { border-color: $light-background; }
    }

    animation-name: InputSuccessLight;
    animation-delay: 0.02s;
    animation-duration: 0.2s;
}

.DarkMode .Input {
    color: $dark-text-color;
    border-color: $dark-background;

    &.Letter {
        background-color: $dark-input;
    }
    &.Button {
        background-color: $dark-background;
    }
}

.DarkMode .HasGood .Input.Letter {
    @keyframes InputSuccessDark {
        /* flash animation when guessed */
        0%   { border-color: $dark-background; }
        50%  { border-color: $dark-good; }
        100% { border-color: $dark-background; }
    }

    animation-name: InputSuccessDark;
    animation-delay: 0.02s;
    animation-duration: 0.2s;
}