@import '../common.scss';

.InputBox {
    flex: 0;

    $input-font-size: 2rem;
    $input-gap: 1rem;

    @include charBox($input-font-size, $input-gap);
    margin: $input-gap;
    text-transform: capitalize;

    color: $light-text-color;

    background-color: $light-input;
    border-radius: 10%;
}

.DarkMode .InputBox {
    color: $dark-text-color;
    background-color: $dark-input;
}
