@import '../common.scss';

.Word {
    display: flex;
    margin: 1rem;

    &.Guessed, &.Show {
        cursor: help;
    }

    .Letter {
        $letter-font-size: 1rem;
        $letter-gap: 0.3rem;

        font-size: $letter-font-size;
        min-width: $letter-font-size;
        width: $letter-font-size;
        height: $letter-font-size;
        @supports ( -moz-appearance:none ){
            line-height: $firefox--line-height-factor * $letter-font-size;
        }
        line-height: $line-height-factor * $letter-font-size;
        margin: $letter-gap;
        padding: $letter-gap;
        text-align: center;
        text-transform: capitalize;

        color: $light-text-color;

        /* Nice border */
        border-color: $light-text-color;
        border-style: solid;
        border-width: 1px;
        border-radius: 10%;

        /* HACK: make spacing between individual words smaller */
        margin-bottom: -1.7rem;
    }

    @keyframes WordReveal {
        /* flash animation when guessed */
        from { background-color: $light-background; }
        to { background-color: $light-good; }
    }

    &.Guessed .Letter {
        background-color: $light-good;
        animation-name: WordReveal;
        animation-duration: 0.1s;
    }
}

.DarkMode .Word {
    .Letter {
        color: $dark-text-color;
        border-color: $dark-text-color;
    }

    @keyframes WordRevealDark {
        /* flash animation when guessed */
        from { background-color: $dark-background; }
        to { background-color: $dark-good; }
    }

    &.Guessed .Letter {
        background-color: $dark-good;
        animation-name: WordRevealDark;
        animation-duration: 0.2s;
    }
}
