.Word {
    $letter-font-size: 1rem;
    $letter-gap: 0.3rem;
    $missing-color: white;
    $guessed-color: yellowgreen;

    display: flex;
    margin: 1rem;

    &.Guessed, &.Show {
        cursor: help;
    }

    .Letter {
        font-size: $letter-font-size;
        min-width: $letter-font-size;
        width: $letter-font-size;
        height: $letter-font-size;
        line-height: $letter-font-size;
        margin: $letter-gap;
        padding: $letter-gap;
        text-align: center;
        text-transform: capitalize;

        /* Nice border */
        border: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 10%;

        /* HACK: make spacing between individual words smaller */
        margin-bottom: -1.7rem;
    }

    @keyframes WordReveal {
        /* flash animation when guessed */
        from { background-color: $guessed-color; }
        to { background-color: $missing-color; }
    }

    &.Guessed .Letter {
        background-color: $guessed-color;
        animation-name: WordReveal;
        animation-duration: 0.1s;
    }
}
