@use '../common.scss';

.EndScreen {
    outline: none;
    text-align: center;

    cursor: default;

    margin-top: 16px;
    margin-bottom: 32px;

    color: common.$light-text-color;

    @media screen and (max-width: common.$small-screen-width) {
        font-size: 10px;
    }

    padding: 0 20px;

    .Score {
        font-size: 48px;
        font-weight: 600;

        @media screen and (max-width: common.$medium-screen-width) {
            font-size: 24px;
        }

        @media screen and (max-width: common.$small-screen-width) {
            font-size: 16px;
        }

        margin-top: 3px;
        margin-bottom: 1px;
    }

    .Continue {
        b {
            margin-left: 2px;
            margin-right: 2px;
        }

        &.hide {
            color: common.$light-background;
        }

        &.show {
            cursor: pointer;
        }
    }
}

.DarkMode .EndScreen {
    color: common.$dark-text-color;

    .Continue.hide {
        color: common.$dark-background;
    }
}