@import '../common.scss';

.Game {
    @include fullscreen();

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .Bottom {
        width: 100%;
        height: 180px;

        @media screen and (max-width: $medium-screen-width) {
            height: 130px;
        }

        @media screen and (max-width: $small-screen-width) {
            height: 110px;
        }
    }
}

.DarkMode .Game {
    .Anagrams {
        /* Scroll Bar (Firefox) */
        scrollbar-color: $dark-text-color $dark-input;

        /* Scroll Bar (Others) */
        &::-webkit-scrollbar-track {
            background: $dark-input;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $dark-input;
            border: solid $dark-text-color;
        }
    }
}