@use '../common.scss';

.Game {
    @include common.fullscreen();

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .Bottom {
        width: 100%;
        height: 180px;

        @media screen and (max-width: common.$medium-screen-width) {
            height: 130px;
        }

        @media screen and (max-width: common.$small-screen-width) {
            height: 110px;
        }
    }
}

.DarkMode .Game {
    .Anagrams {
        /* Scroll Bar (Firefox) */
        scrollbar-color: common.$dark-text-color common.$dark-input;

        /* Scroll Bar (Others) */
        &::-webkit-scrollbar-track {
            background: common.$dark-input;
        }

        &::-webkit-scrollbar-thumb {
            background-color: common.$dark-input;
            border: solid common.$dark-text-color;
        }
    }
}