@import '../common.scss';

$input-font-size: 32px;
$input-gap: 16px;

$input-medium-factor: 0.65;
$input-small-factor: 0.5;
$input-tiny-factor: 0.35;

.Input {
    outline: none;

    .Row {
        flex: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .Row > * {
        flex: 0;

        color: $light-text-color;

        @include borderedCharBox($input-font-size, $input-gap);

        @media screen and (max-width: $medium-screen-width) {
            @include borderedCharBox($input-medium-factor*$input-font-size,
                $input-medium-factor*$input-gap);
        }

        @media screen and (max-width: $small-screen-width) {
            @include borderedCharBox($input-small-factor*$input-font-size,
                $input-small-factor*$input-gap);
        }

        @media screen and (max-width: $tiny-screen-width) {
            @include borderedCharBox($input-tiny-factor*$input-font-size,
                $input-tiny-factor*$input-gap);
        }

        /* Overwrite values in 'borderedCharBox' for vertical gap */
        margin-bottom: calc($input-gap / 2);
        margin-top: calc($input-gap / 2);

        @media screen and (max-width: $medium-screen-width) {
            margin-bottom: calc($input-medium-factor*$input-gap / 2);
            margin-top: calc($input-medium-factor*$input-gap / 2);
        }

        /* Overwrite values in 'borderedCharBox' for blink on successful guess. */
        border-width: 3px;
        border-color: $light-background;

        /* Mouse Interaction */
        &:not(.Disabled) {
            cursor: pointer;
        }

        &:not(:hover) {
            opacity: 80%;
        }
    }
}

.DarkMode .Input .Row * {
    color: $dark-text-color;
    border-color: $dark-background;
}
