@use '../common.scss';

/* Extends the common `.Input .Row *` base from 'input.scss'. */
.Input .Row .Letter {
    background-color: common.$light-input;
}

.Input .Row.Success .Letter {
    @keyframes InputSuccessLight {

        /* flash animation when guessed */
        0% {
            border-color: common.$light-background;
        }

        50% {
            border-color: common.$light-good;
        }

        100% {
            border-color: common.$light-background;
        }
    }

    animation-name: InputSuccessLight;
    animation-delay: 0.02s;
    animation-duration: 0.2s;
}

.DarkMode .Input .Letter {
    background-color: common.$dark-input;
}

.DarkMode .Input .Row.Success .Letter {
    @keyframes InputSuccessDark {

        /* flash animation when guessed */
        0% {
            border-color: common.$dark-background;
        }

        50% {
            border-color: common.$dark-good;
        }

        100% {
            border-color: common.$dark-background;
        }
    }

    animation-name: InputSuccessDark;
    animation-delay: 0.02s;
    animation-duration: 0.2s;
}