@use '../common.scss';

.Word {
    flex: 0;
    display: flex;
    margin: 0 16px;

    @media screen and (max-width: common.$small-screen-width) {
        margin: 0 8px;
    }

    /* Cursor interaction */
    &.Guessed,
    &.Show {
        cursor: help;
    }

    opacity: 90%;

    &.Guessed:hover,
    &.Show:hover {
        opacity: 100%;
    }

    /* Individual Letter styling */
    .Letter {
        $letter-font-size: 16px;
        $letter-gap: 5px;
        @include common.borderedCharBox($letter-font-size, $letter-gap);
        margin-top: $letter-font-size;

        $letter-medium-factor: 0.7;

        @media screen and (max-width: common.$medium-screen-width) {
            @include common.borderedCharBox($letter-medium-factor*$letter-font-size,
                                            $letter-medium-factor*$letter-gap);
            margin-top: $letter-medium-factor*$letter-font-size;
        }

        $letter-small-factor: 0.5;

        @media screen and (max-width: common.$small-screen-width) {
            @include common.borderedCharBox($letter-small-factor*$letter-font-size,
                                            $letter-small-factor*$letter-gap);
            margin-top: $letter-small-factor*$letter-font-size;
        }

        color: common.$light-text-color;
    }

    &.Guessed .Letter:not(.Hint) {
        background-color: common.$light-good;

        @keyframes WordRevealLight {

            /* flash animation when guessed */
            from {
                background-color: common.$light-background;
            }

            to {
                background-color: common.$light-good;
            }
        }

        animation-name: WordRevealLight;
        animation-duration: 0.1s;
    }
}

.DarkMode .Word {
    .Letter {
        color: common.$dark-text-color;
    }

    &.Guessed .Letter:not(.Hint) {
        background-color: common.$dark-good;

        @keyframes WordRevealDark {

            /* flash animation when guessed */
            from {
                background-color: common.$dark-background;
            }

            to {
                background-color: common.$dark-good;
            }
        }

        animation-name: WordRevealDark;
        animation-duration: 0.2s;
    }
}