@use '../common.scss';

.Flag {
    flex: 0;
    cursor: pointer;

    margin: 16px;

    $flag-scale: 0.5px;
    $flag-width: (
        320 * $flag-scale
    );

    $flag-height: (
        160 * $flag-scale
    );

    width: $flag-width;

    img {
        opacity: common.$opacity-selected;
        width: $flag-width;
        max-width: $flag-width;

        $flag-medium-factor: 0.7;

        @media screen and (max-width: common.$medium-screen-width) {
            width: $flag-medium-factor*$flag-width;
            max-width: $flag-medium-factor*$flag-width;
        }

        border-radius: 5%;
        border: 0.32px;
        border-color: common.$light-text-color;
    }

    .Index {
        opacity: common.$opacity-selected;
        color: common.$light-text-color;

        margin: auto;
        text-align: center;

        font-size: 16px;

        @media screen and (max-width: common.$medium-screen-width) {
            font-size: 11px;
        }
    }
}

.Flag:not(.Selected) {
    img {
        opacity: common.$opacity-unselected;
        filter: grayscale(100%);
    }

    .Index {
        opacity: common.$opacity-unselected;
    }

    &:hover {
        img {
            opacity: common.$opacity-hover;
            filter: grayscale(40%);
        }

        .Index {
            opacity: common.$opacity-hover;
        }
    }
}

.DarkMode .Flag {
    img {
        border-color: common.$dark-text-color;
    }

    .Index {
        color: common.$dark-text-color;
    }
}