@use "../common.scss";

.NamedSelect {
    color: common.$light-text-color;

    width: max-content;
    cursor: pointer;

    font-size: 24px;
    font-weight: 400;

    @media screen and (max-width: common.$medium-screen-width) {
        font-size: 16px;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &.Selected {
        opacity: common.$opacity-selected;
        font-size: 32px;
        font-weight: 600;

        @media screen and (max-width: common.$medium-screen-width) {
            font-size: 24px;
        }
    }

    &:not(.Selected) {
        opacity: common.$opacity-unselected;

        &:hover {
            opacity: common.$opacity-hover;
        }
    }
}

.DarkMode .NamedSelect {
    color: common.$dark-text-color;
}