@import "../common.scss";

.NamedSelect {
    color: $light-text-color;

    width: max-content;
    min-width: 15rem;
    @media screen and (max-width: $medium-screen-width) {
        min-width: 12rem;
    }
    cursor: pointer;

    font-size: 1.5rem;
    font-weight: 400;

    @media screen and (max-width: $medium-screen-width) {
        font-size: 1rem;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &.Selected {
        opacity: $opacity-selected;
        font-size: 2rem;
        font-weight: 600;

        @media screen and (max-width: $medium-screen-width) {
            font-size: 1.5rem;
        }
    }
    &:not(.Selected) {
        opacity: $opacity-unselected;
        &:hover {
            opacity: $opacity-hover;
        }
    }
}

.DarkMode .NamedSelect {
    color: $dark-text-color;
}

